.back-ground {
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/background.png');
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bookingPage.png'); */
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.hero-container h2 {
  font-weight: 700;
  gap: 1;
  color: #ffffff;
}

.hero-container p {
  font-size: 18px;
  font-weight: 400;
}

.hero-container h6 {
  font-size: 10px;
  font-weight: 300;
}

@media(max-width:360px) {
  .hero-container h2 {
    font-weight: 700;
    gap: 1;
    font-size: 17px;
  }

  .hero-container p {
    font-size: 12px;
    font-weight: 600;
  }
}